<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">
					<li class="active">
						<%= link_to admin_path do %>
						<span class="fa fa-newspaper-o">
							user's posts
						</span>
						<% end %>
					</li>
					<li>
						<%= link_to adminuser_path do %>
						<span class="fa fa-user">
							user's accounts
						</span>
						<% end %>
					</li>
					

				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div>