<ul class="nav nav-tabs widget">
	<% if current_user.role == "student" %> 
		<li class="tab"> <a data-toggle="tab" href="#profile-tab"> 実行中作業 <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>   
	<% end %>
	<li class=""> <a data-toggle="tab" href="#saved-tab"> 作業履歴 <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	<li class=""> <a data-toggle="active" href="#photos-tab"> プロフィール <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	
</ul>