<ul class="nav nav-tabs widget">
	<li class="active"> <a data-toggle="tab" href="#profile-tab"> 実行中作業 <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>   
	<li class=""> <a data-toggle="tab" href="#saved-tab"> 作業履歴 <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	<li class=""> <a data-toggle="tab" href="#photos-tab"> プロフィール <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	
</ul>